<div layout:decorate="layout">
    <div layout:fragment="contents">
        <h1 th:text="${title}"></h1>
        <div th:each="review:${reviews}" th:object="${review}">
            <p>ID：<span th:text="*{id}"></span></p>
            <p>名前：<span th:text="*{name}"></span></p>
            <p>評価：<span th:text="*{evaluation}"></span></p>
            <p>本文：<span th:text="*{body}"></span></p>
            <p><a class="btn btn-secondary btn-xs" th:href="@{/hotels/{hotel_id}/reviews/{id}(hotel_id=*{hotel.id},id=*{id})}">参照</a></p>
        </div>
        <a class="btn btn-secondary" th:href="@{/hotels/{hotel_id}/reviews/new(hotel_id=${hotel.id})}">新規作成</a>
    </div>
</div>