<div layout:decorate="layout">
    <div layout:fragment="contents">
        <h1 th:text="${title}"></h1>
        <form th:action="@{/hotels/{hotel_id}/reservations/(hotel_id=${hotel.id})}" th:method="post">
            <div class="form-group">
                <label class="control-label">名前</label>
                <input class="form-control" type="text" name="name" />
            </div>
            <div class="form-group">
                <label class="control-label">Eメールアドレス</label>
                <input class="form-control" type="text" name="email" />
            </div>
            <div class="form-group">
                <label class="control-label"> チェックイン日</label>
                <input class="form-control" type="text" name="startDate" />
            </div>
            <div class="form-group">
                <label class="control-label">チェックアウト日</label>
                <input class="form-control" type="text" name="finishDate" />
            </div>
            <div class="form-group">
                <label class="control-label">人数</label>
                <input class="form-control" type="text" name="numberOfPeople" />
            </div>
            <input class="form-control" type="hidden" name="hotelId" th:value="${hotel.id}" />
            <button class="btn btn-secondary" type="submit">予約する</button>
        </form>
    </div>
</div>